.leftNav {
    display: flex;
    flex-direction: column;
    background-color: #92B6B5;
}

.leftNavLinks {
    margin-top: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.minHeight {
    min-height: 64px;
}

@media (max-width: 1005px) {
    .leftNav {
        display: none;
    }
}

@media (min-width: 1006px) {
    .topNav {
        display: none;
    }

    .leftNav {
        width: 220px;
        height: 100%;
        position: fixed;
    }
}

.appBar {
    background-color: #92B6B5 !important;
}

.vertIcon {
    color: #4d4d4d !important;
}

.homeIcon {
    fill: #4d4d4d !important;
}

.menuItem {
    font-family: 'Raleway', sans-serif !important;
    text-decoration: none;
}

