.profilePic {
    margin-top: 10px;
    height: 420px;
    width: 279px;
    align-self: center;
    justify-content: center;
}

.aboutPic {
    margin-top: 20px
}

@media (max-width: 530px) {
    .aboutPic {
        display: none;
    }
}
