@media (min-width: 1006px) {
    .body {
        margin-left: 220px;
    }
}

.body {
    display: flex;
    flex-grow: 1;
    flex-direction: column
}

@media (max-width: 1189px) {
    .blogContainer {
        display: none
    }

}

.section1Content {
    display: flex;
    margin: auto;
}

.introText {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: space-around;
}

.tagLine {
    font-family: Raleway, sans-serif;
    font-size: 2rem;
    align-self: center;
    text-align: center;
    letter-spacing: 0.2rem;
}

.name {
    text-align: center;
    word-spacing: 9000px;
}

@media (min-width: 1190px) {
    .name {
        font-family: 'Permanent Marker', cursive;
        font-size: 8rem;
        line-height: 7rem;
        color: rgb(55, 58, 60);
    }
}

@media (max-width: 1189px) {
    .name {
        font-family: 'Permanent Marker', cursive;
        font-size: 5rem;
        line-height: 4rem;
        color: rgb(55, 58, 60);
    }
}

.DOPE {
    font-family: 'Sigmar One', cursive;
    font-size: 4rem;
    color: #b22222;
    letter-spacing: .4rem;
}

@media (min-width: 1190px) {
    .blogContainer {
        display: flex;
        width: 600px;
        flex-wrap: wrap;
    }

    .blogRowItem {
        width: 300px;
        height: 230px;
        background-color: #6CBEDB;
    }
}

.blogLink {
    display: flex;
    font-family: 'Abril Fatface', cursive;
    flex-grow: 1;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 30px;
    text-decoration: none;
    color: #b0c4de;
    font-size: 7rem;
}

.section1 {
    background-color: #E8DDB5;
    display: flex;
}

@media (min-width: 777px) {
    .section1 {
        height: 460px;
    }
}

@media (max-width: 776px) {
    .section1Content {
        flex-direction: column;
    }

    .tagLine {
        margin-top: 20px;
    }

    .section1 {
        height: 700px;
    }
}

.section2 {
    display: flex;
    height: 460px;
    background: url('../../images/denim.png');
}



