@media (min-width: 1006px) {
    .aboutBody {
        margin-left: 220px;
        height: 100%;
        min-height: 100vh;
    }
}

@media (max-width: 1005px) {
    .aboutBody {
        height: calc(100% - 64px);
        min-height: 100vh;
    }
}

.aboutBody {
    display: flex;
    flex-grow: 1;
    background-color: #E8DDB5;
    flex-direction: column;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    color: darkblue;
}

@media (max-width: 530px) {
    .mainText {
        margin-top: 1.5rem;
    }
}

.mainText {
    max-width: 45rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    color: #373a3c;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 2.2rem;
}