.linkStyle {
    width: 100px;
    padding: 9px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.2);
    background-color: #BEEB9F;
    font-size: 1.3em;
    border: 1px solid #373a3c;
    font-family: 'Open Sans', sans-serif;
    transition: background-color 0.2s linear,
    color 0.3s ease;
    cursor: pointer;
    margin-top: 25px;
}

.linkStyle:hover {
    background-color: #373a3c;
    color: #BEEB9F;
}

